<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
</head>
<style>
    @import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        width: 100%;
    }

    body {
        background: #252525;
    }
</style>
<body>

{% block page_content %}
<div>
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
{% endblock %}

</body>
</html>